@model PresentationLayer.Bridge.BridgeToBLL

@{
    ViewBag.Title = "Index";
}

<h2>TOC</h2>

<div>
    @Html.ActionLink("Просмотреть все продажи", "ShowAllSales")
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>