<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
     // Подгружаем API
      google.load('visualization', '1.0', { 'packages': ['corechart'] });
        google.setOnLoadCallback(drawChart);
        function drawChart()
        {
             var options = {
             'title': 'Sales By Manager',
             'width': 900,
             'height': 700
             };
             var data = new google.visualization.DataTable();
                data.addColumn('string', 'ManagerName');
                data.addColumn('number', 'NumberOfSales');

                $.getJSON('@Url.Action("DrawChart", "User")', null,
                    function (result)
                    {
                        if (result.Data.length)
                        {
                            $.each(result.Data, function (index, d) {
                                data.addRow(
                                    [d.ManagerName, d.NumberOfSales]
                                );
                            });
                            var chart = new google.visualization.PieChart(
                                                document.getElementById('n'));
                            chart.draw(data, options);
                        };
                    });
         }
</script>
<div id="n"></div> 