
@{
    ViewBag.Title = "ShowAllUsers";
}

<h2>ShowAllUsers</h2>
<div>
    @using(Ajax.BeginForm("ManagerSearch", "User", new AjaxOptions { UpdateTargetId= "results"}))
     {       
        <input type="text" name="name" />
        <input type="submit" value="Поиск"/>
     }
     <div id="results"></div>
</div>