@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.ActionLink("Просмотреть всех менеджеров", "ShowAllManagers", "User")
</div>

<div>
    @Html.ActionLink("Все продажи", "ShowAllSales", "User")
</div>
