@model IEnumerable<PresentationLayer.ViewModels.SaleViewModel>
@{
    ViewBag.Title = "Таблица продаж";
}


<div>
    <h3>Данные</h3>
    <table>
        <tr>
            <td>ПРивет</td>
            <td>Мир</td>
            <td>!</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>Мир</td>
                <td>!</td>
            </tr>
        }
    </table>
</div>
