@{
    ViewBag.Title = "";
}

<div>
    <h3>Данные</h3>
    <table>
        <tr>
            <tb><p>ПРивет</p></tb>
            <tb><p>Мир</p></tb>
            <tb><p>!</p></tb>
        </tr>
    </table>
</div>
